<table class="table table-bordered">

  <caption>Section</caption>

  <tbody>
    <tr>
      <td>Name: </td>
      <td><%= @section.name %></td>
    </tr>
  </tbody>

</table>

<%= link_to 'edit', edit_section_path(@section), class: 'btn btn-primary' %>
