development:
  adapter: sqlite3
  database: DB_name
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: DB_name
  pool: 5
  timeout: 5000

production:
  adapter: sqlite3
  database: DB_name
  pool: 5
  timeout: 5000
